// I yoinked this directly from an in-progress project, which was initially yoinked from
//another project. so this is kind of messy and may not be a direct copy-past solution.

#mapWrapper {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin-block-start: 15rem;
  max-height: 90dvh;
  @media (max-width: 1100px) {
    margin-block-start: 11rem;
  }
  #map {
    max-height: 90dvh;
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
  }
  #map-key {
    position: absolute;
    top: 0;
    left: 3.2rem;
    bottom: 0;
    z-index: 5;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 0.8rem;
    height: fit-content;
    margin: auto;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    p {
      margin: 0;
      display: flex;
      align-items: center;
      svg {
        margin-inline-end: 0.8rem;
        height: 1.2rem;
        width: 1.2rem;
      }
    }
  }
  .mapboxgl-ctrl-top-right {
    position: absolute;
    height: fit-content;
    top: unset;
    left: 0;
    bottom: 5rem;
    margin: auto;
    right: unset;
    left: 3.2rem;
    .mapboxgl-ctrl-group {
      background: rgba(0, 0, 0, 0) !important;
      box-shadow: unset !important;
    }
    button {
      height: 3.6rem;
      width: 3.6rem;
      border-radius: 15rem;
      border: 1px solid $black;
    }

    // .mapboxgl-ctrl-zoom-in
  }
  #map-results {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 38.5%;
    height: 100%;
    background: $dgNavy;
    z-index: 5;
    display: flex;
    flex-direction: column;
    h1 {
      color: $dgPink;
    }
    form {
      display: flex;
      flex-direction: column;
      padding-block-start: 8.2rem;
      margin-inline: 8.3rem;

      input {
        height: 4rem;
        background: none;
        border: unset;
        color: $white;
        border-bottom: 1px solid $white;
        &::placeholder {
          color: $white;
        }
        margin-block-end: 2rem;
      }
      button {
        background: rgba(0, 0, 0, 0);
        &:focus,
        &:hover {
          background: $dgPink;
          color: $white;
        }
        margin-block-end: 4.5rem;
      }
      label {
        display: flex;
        flex-direction: column;
        color: $white;
        select {
          color: $black;
        }
        span.select2 {
          span.selection {
            span.select2-selection {
              background: rgba(0, 0, 0, 0);
              color: $white;
              border: unset;
              border-bottom: 1px solid $white;
              border-radius: 0;
              height: fit-content;
              span.select2-selection__rendered {
                color: $white;
                @include small-label;
                padding-inline: 0;
                padding-block: 1.6rem;
              }
              span.select2-selection__arrow {
                top: 0;
                bottom: 0;
                margin: auto;
                b {
                  border-color: $dgPink transparent transparent transparent;
                }
              }
            }
          }
        }
        .select2-dropdown {
          background: unset;
        }
        .select2-results {
          background: $white;
          border-radius: 0.8rem;
          margin-block-start: 0.6rem;
          &:before {
            content: "";
            width: 0;
            height: 0;
            all: unset;
          }
          .select2-results__options {
            border-radius: 0.8rem;
            padding: 3rem;
            li.select2-results__option {
              color: $black !important;
              background: $white !important;
              @include small-label;
              position: relative;
              padding-inline-start: 3.1rem;
              &:before {
                position: absolute;
                content: " ";
                width: 2.1rem;
                height: 2.1rem;
                top: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                border: 1px solid $black;
              }
              &[aria-selected="true"] {
                &:before {
                  background: $hopeRose;
                  border: 1px solid $hopeRose;
                }
              }
              &.select2-results__option--highlighted {
                background: $white !important;
                color: $black;
              }
            }
          }
        }
      }
    }
  }
  #map-results-list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-block-start: 4rem;
    height: auto;
    padding-inline: 8.3rem;

    .chapter.map-result {
      position: relative;
      border-bottom: 1px solid $loyalBlue;
      padding-block: 2rem;
      height: auto;
      opacity: 1;
      * {
        color: $white;
      }
      transition: 0.3s background;
      &:before {
        content: " ";
        position: absolute;
        left: -8.3rem;
        width: 8.3rem;
        height: 100%;
        top: 0;
        bottom: 0;
        background: $dgNavy;
        transition: 0.3s background;
      }
      &:after {
        content: " ";
        position: absolute;
        right: -8.3rem;
        width: 8.3rem;
        height: 100%;
        top: 0;
        bottom: 0;
        background: $dgNavy;
        transition: 0.3s background;
      }
      &.active {
        background: rgb(44, 64, 112);
        position: relative;
        &:before,
        &:after {
          background: rgb(44, 64, 112);
        }
      }
      // &.active-type {
      //   height: auto;
      //   opacity: 1;
      // }
    }
  }
}

.mapboxgl-marker {
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  opacity: 1;
  &[data-chapter="collegiate"] {
    background: $cableBronze;
  }
  &[data-chapter="alumnae"] {
    background: $loyalBlue;
  }
  transition: 0.3s all;
  svg {
    opacity: 0;
    position: absolute;
    top: -62px;
    left: -14px;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: 0.3s all;
  }
  &.active-marker {
    background: rgba(0, 0, 0, 0) !important;
    svg {
      opacity: 1;
      height: 62px;
      width: 38px;
    }
  }
  // &.active-type {
  //   opacity: 1 !important;
  // }
}

section.cb15-chapter-locator {
  background: $timelessPinkLight;
}

.chapter-list {
  padding-block: 9rem;
  .chapter-selector {
    position: relative;
    background: $white;
    border-radius: 12rem;
    width: fit-content;
    display: inline-flex;
    justify-content: stretch;
    align-items: space-between;
    gap: 2.4rem;
    padding: 2.4rem;

    .wrap {
      position: relative;
      display: inline-flex;
      justify-content: stretch;
      align-items: space-between;
      gap: 2.4rem;
      height: fit-content;
      //   background: $timelessPink;
      border-radius: 4.8rem;
      //   box-shadow: inset 0px 0px 3px 4px rgb(0 0 0 / 2%);
    }
    a {
      background: none;
      color: $black;
      margin: 0;
      padding: 2.4rem;
      z-index: 2;
      text-align: center;
      //   outline: none !important;
      border-radius: 4.8rem;
      transition: 0.3s color;
      &.active {
        color: $white;
      }
      &:focus {
        // outline: 0;
        // border: 0;
        background: unset;
      }
    }
    .active-bg {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      height: 100%;
      border-radius: 4.8rem;
      background: $hopeRose;
      transition: 0.3s all;
    }
  }
}

.collegiate,
.alumnae {
  display: none;
  opacity: 0;
  transition: 0.3s opacity;
  &.active {
    display: grid;
    opacity: 1;
  }
  grid-template-columns: repeat(auto-fit, minmax(44rem, 1fr));

  h2 {
    grid-column: span 12;
    margin: 0;
    margin-block-start: 7.5rem;
  }
  .state {
    grid-column: span 12;
    margin-block: 4.5rem;
    color: $dgNavy;
  }
  .chapter {
    border-top: 1px solid $anchorBronze;
    display: flex;
    flex-direction: column;

    span.subheader {
      display: block;
      margin-block-start: 2.4rem;
    }
    h4 {
      margin-block: 1.2rem;
    }
    p {
      margin: 0;
    }
  }
}

#chapter-search-no-results,
#chapter-search-no-results-zipcode {
  display: none;

  p {
    padding-left: 100px;
    padding-right: 150px;
    color: #fff;
    margin-bottom: 0;

    @media #{$laptopM} {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  &.active-no-results {
    display: flex;
    align-items: center;

    height: 75px;
  }
}

.single-mod-marker {
  &.active-marker-info {
    max-height: 300px;
    height: auto;
    opacity: 1;
    width: calc(100% + 17px);
  }
}
